@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.navbar {
    background-color:#ffff;
    height: 124px;
}

.navbar-center a {
    font-family: Karla;
    font-size: 20px;
}




