@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 124px;
    background-color: #ffff;
}

.logo {
    cursor: pointer;
}

.nav-center a {
    color: black;
    font-family: Karla;
    font-size: 20px;
}

.nav-link:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #ff6d3c;
}

.nav-center {
    margin: 0 130px;
    display: flex;
}

.nav-center li {
    padding: 12px;
}

.nav-right li {
    padding: 5px;
}

.nav-right {
    display: flex;
}

.glyphicon-menu-hamburger {
    font-size: 20px;
}



