@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffff;
    z-index: 1000;
    position: fixed; 
    width: 100%; 
}

.navbar-toggle .icon-bar {
    background-color: black;
    width: 22px;
    height: 2px;
}

.navbar-brand {
    padding: 25px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggle {
    margin: 25px 15px 25px 0;
}

.navbar-center {
    padding-top: 20px;
}


.navbar-center a {
    font-size: 15px;
    font-family: Karla;
}
     
.navbar-right {
    padding: 20px;
}

.navbar-right a {
    padding: 20px;
}

.navbar-right i {
    font-size: 15px;
    color: black;
}

.navbar-right i:hover {
    color: orange;
    cursor: pointer;
}


.background-image {
    background-image: url('/images/about-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.content p {
    color: #ffff;
    font-size: 30px;
}

.content {
    position: absolute;
    width: 50%; 
    margin-top: 20%;
    top: 50px;
    left: 10%;
}

